{% extends 'base.html' %}

{% block title %}
    <title>IT - WebTech studio</title>
{% endblock %}

{% block body %}
    {% load static %}
    {% include 'reusable/navbar.html' %}
    <main id="main" class="main">
        <!-- one -->
        <section class="s-wrap s-wrap--inner-center s-wrap--fscreen dark-bg">
            <div class="container">
                <div class="o-content-flex-end">
                    <!-- page-title -->
                    <arcticle class="block-heading text-end">
                        <p class="text-white mb-2">IT - WebTech studio</p>
                        <h1 class="mb-1">Мы создаем качественный и востребованный продукт</h1>
                        <a href="#" class="btn btn-primary">Наши проекты</a>
                    </arcticle>
                    <!-- page-title/end -->
                </div>
            </div>
        </section>
        <!-- one/end -->

        <!-- two -->
        <section class="s-wrap">
            <div class="container">
                <div class="o-content text-center">
                    <!-- page-title -->
                    <header class="block-heading ml-auto mb-5">
                        <h2>Ваши преимущества в сотрудничестве с нами</h2>
                    </header>
                    <!-- page-title/end -->

                    <!-- line -->
                    <section class="box-line mb-5">
                        {% include 'main_app/reusable/box-item.html' with name='Создание сайта' text='Профиссеональная разработка сайтов с использованием соверменных инстументов' staticName='images/coding.svg' %}

                        {% include 'main_app/reusable/box-item.html' with name='Настройка сервера' text='Правильная и адаптивная конфигурация под разные системы по желанию нашего клиента' staticName='images/server.svg' %}

                        {% include 'main_app/reusable/box-item.html' with name='SEO продвижение' text='Повышение рейтинга сайта в поисковый выдаче, а также его посещения пользователями' staticName='images/seo.svg' %}

                    </section>
                    <!-- line -->
                    <a href="#" class="btn btn-primary">Все услуги</a>
                </div>
            </div>
        </section>
        <!-- two/end -->

        <!-- three -->
        <div class="s-wrap s-wrap--overlay">
            <div class="container">
                <div class="o-content">
                    <!-- page-title -->
                    <header class="block-heading mb-5">
                        <h2>Стандарты</h2>
                    </header>
                    <!-- page-title/end -->

                    <p class="mb-3">Этот блок переделывается</p>

                    <div class="divider mb-5"></div>
                    <!-- section-card -->
                    <section class="wrap-line">
                        <!-- card-1 -->
                        {% include 'main_app/reusable/card.html' with title='Landing page' number='12' staticName='images/code.svg'  %}
                        <!-- card-1/end -->

                        <!-- card-2 -->
                         {% include 'main_app/reusable/card.html' with title='Multi Landing' number='2' staticName='images/code.svg' %}
                        <!-- card-2/end -->

                        <!-- card-3 -->
                        {% include 'main_app/reusable/card.html' with title='Промо-сайт' number='5' staticName='images/code.svg' %}
                        <!-- card-3/end -->

                        <!-- card-4-->
                        {% include 'main_app/reusable/card.html' with title='Сайт-витрина' number='3' staticName='images/code.svg' %}
                        <!-- card-4/end -->

                        <!-- card-5 -->
                        {% include 'main_app/reusable/card.html' with title='Интернет-магазин' number='1' staticName='images/code.svg' %}
                        <!-- card-5/end -->

                        <!-- card-6 -->
                        {% include 'main_app/reusable/card.html' with title='Социальная сеть' number='1' staticName='images/code.svg' %}
                        <!-- card-6/end -->
                    </section>
                    <!-- section-card/end -->
                </div>
            </div>
        </div>
        <!-- three/end -->

        <!-- four -->
        <div class="s-wrap s-wrap--inner-center s-wrap--gradient">
            <div class="container">
                <div class="o-content">
                    <div class="o-content-flex-sb mb-5">
                        <!-- page-title -->
                        <header class="block-heading mobile-mb-2">
                            <h2>Наши работы, на которых мы специализируемся</h2>
                        </header>
                        <!-- page-title/end -->

                        <div class="btn-group">
                            <a href="#" class="btn btn-primary">Все услуги</a>
                        </div>
                    </div>
                    <!-- line -->
                    <section class="box-line mb-5">
                        <!-- item-1 -->
                        {% include 'main_app/reusable/box-our-direction.html' with title='Frontend разработка' text='Клиентская сторона пользовательского интерфейса Большой опыт в верстке как одностраничные сайты (Landing page), так и масштабные проекты интернет-магазинов и сайты крупных компаний' staticName='images/work.jpg' urlLink='#' urlText='Подробнее' %}
                        <!-- item-1/end -->

                        <!-- item-2 -->
                        {% include 'main_app/reusable/box-our-direction.html' with title='Backend разработка' text='Программно-аппаратная часть сервиса. Backend отвечает за осуществление функционирования внутренней части веб-сайта, мы используем PHP + MySql' staticName='images/work.jpg' urlLink='#' urlText='Подробнее' %}
                        <!-- item-2/end -->

                        <!-- item-3 -->
                        {% include 'main_app/reusable/box-our-direction.html' with title='Настройка сервера' text='В целях повышения производительности ИТ-инфраструктуры вашей компании, предлагаем весь спектр услуг по настройке серверов на базе операционных систем Windows, Ubuntu' staticName='images/work.jpg' urlLink='#' urlText='Подробнее' %}
                        <!-- item-3/end -->
                    </section>
                    <!-- line/end -->
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <!-- four/end -->

        <!-- five -->
        <div class="s-wrap s-wrap--inner-center s-wrap--overlay">
            <div class="container">
                <div class="o-content text-center">
                    <!-- page-title -->
                    <header class="block-heading ml-auto mb-5">
                        <h2 class="mb-1">Наши проекты</h2>
                        <p>Вот несколько работ от нас</p>
                    </header>
                    <!-- page-title/end -->

                    <!-- line -->
                    <section class="box-line mb-5">
                        <!-- item-1 -->
                        {% include 'main_app/reusable/our-works-box.html' with staticName='images/work.jpg' %}
                        <!-- item-1/end -->

                        <!-- item-2 -->
                         {% include 'main_app/reusable/our-works-box.html' with staticName='images/work.jpg' %}
                        <!-- item-2/end -->

                        <!-- item-3 -->
                         {% include 'main_app/reusable/our-works-box.html' with staticName='images/work.jpg' %}
                        <!-- item-3/end -->
                    </section>
                    <!-- line/end -->
                    <a class="btn btn-primary" href="#">Все проекты</a>
                </div>
            </div>
        </div>
        <!-- five/end -->

        <!-- six -->
        <div class="s-wrap s-wrap--inner-center">
            <div class="container">
                <div class="o-content text-center">
                    <!-- page-title -->
                    <header class="block-heading ml-auto mb-5">
                        <h2>Свяжитесь с нами</h2>
                    </header>
                    <!-- page-title/end -->

                    <!-- form -->
                    <form class="form m-auto" action="">
                        <!-- item-1 -->
                        <div class="form_group">
                            <input class="form__input" type="email" placeholder="Ваш email">
                        </div>
                        <!-- item-1/end -->

                        <!-- item-2-->
                        <div class="form_group">
                            <input class="form__input" type="text" placeholder="Заголовок">
                        </div>
                        <!-- item-2/end -->

                        <!-- item-3 -->
                        <div class="form_group">
                            <textarea class="form__input" type="text" placeholder="Описание"></textarea>
                        </div>
                        <!-- item-3/end -->
                    </form>
                    <!-- form/end -->
                </div>
            </div>
        </div>
        <!-- six/end -->
    </main>
    {% include 'reusable/footer.html' %}
{% endblock %}
