<div class="form-wrap s-wrap--block-bottom wow animate__fadeInUpBig" data-wow-duration="1s"
     data-wow-delay=".3s">
    <div class="inner text-center">
        <header class="block-heading text-center ml-auto mb-3">
            <h5>Свяжитесь с нами</h5>
        </header>
        <form class="form" action="">
            <div class="form__group">
                <input class="form__input" type="email" name="email" id="email"
                       placeholder="Введите ваш email">
            </div>
            <div class="form__group">
                <input class="form__input" type="text" name="title" id="title"
                       placeholder="Заголовок сообщения">
            </div>
            <div class="form__group mb-3">
                                <textarea class="form__input" name="desc" id="desc" cols="30" rows="10"
                                          placeholder="Описание"></textarea>
            </div>
            <button class="btn" type="submit">Отправить</button>
        </form>
    </div>
</div>
