<footer class="s-wrap s-wrap--overlay footer">
    <div class="container">
        <div class="">
            <!-- line -->
            <div class="box-line mb-5">
                <!-- item-1 -->
                <div class="box-line__item">
                    <div class="mb-4 ml-2">
                        <h5>Навигация</h5>
                    </div>
                    <ul class="d-block">
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Главная</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Наши проекты</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Наши услуги</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Контакты</a></li>
                    </ul>
                </div>
                <!-- item-1/end -->

                <div class="box-line__item">
                    <div class="mb-4 ml-2">
                        <h5>Наши проекты</h5>
                    </div>
                    <ul class="d-block">
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> PopJaz</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Selepration</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Gik</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Emaster</a></li>
                    </ul>
                </div>

                <div class="box-line__item">
                    <div class="mb-4 ml-2">
                        <h5>Социальные сети</h5>
                    </div>
                    <ul class="d-block">
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Vk</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Telegram</a></li>
                        <li class="ml-2 mb-2"><a href=""><i class="fas fa-angle-right mr-1"></i> Instagram</a></li>
                    </ul>
                </div>

            </div>
            <!-- line/end -->
            <div class="divider"></div>
            <p class="mt-5">IT - WebTech(с) 2021. Все права защищены.</p>
        </div>
    </div>
</footer>
