<footer id="contacts" class="footer s-wrap footer">
    <div class="container">
        <div class="inner">
            <!-- row -->
            <div class="row mb-5">
                <!-- item-1 -->
                <div class="col">
                    <div class="mb-4 ml-2">
                        <h5>Навигация</h5>
                    </div>
                    <ul class="d-block text-white">
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            Главная</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i> Наши
                            проекты</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            Услуги</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            Контакты</a></li>
                    </ul>
                </div>
                <!-- item-1/end -->

                <div class="col">
                    <div class="mb-4 ml-2">
                        <h5>Наши проекты</h5>
                    </div>
                    <ul class="d-block">
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i> Light
                            side</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i> Qi
                            cheat</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i> Gik
                            Tv</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            E-master</a></li>
                    </ul>
                </div>

                <div class="col">
                    <div class="mb-4 ml-2">
                        <h5>Социальные сети</h5>
                    </div>
                    <ul class="d-block">
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            Facebook</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            Telegram</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            VK</a></li>
                        <li class="ml-2 mb-2"><a class="text-gray" href=""><i class="fas fa-angle-right mr-1"></i>
                            WhatsApp</a></li>
                    </ul>
                </div>

            </div>
            <!-- row/end -->
            <div class="divider"></div>
            <p class="text-center mt-4">IT - WebTech(с) 2021. Все права защищены.</p>
        </div>
    </div>
</footer>
