{% load static %}
<header id="header" class="header">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-left">
                <img src="{% static 'images/logo.svg' %}" alt="logo">
            </div>
            <div class="navbar-right">
                <button id="burger" class="burger"><span></span></button>
            </div>
            <ul id="collapse" class="navbar_ul">
                <li class="navbar__item"><a href="#" class="navbar__link">Главная</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Наши проекты</a></li>
                <li class="navbar__item"><a href="{% url 'services' %}" class="navbar__link">Услуги</a></li>
                <li class="navbar__item"><a href="" class="navbar__link">Новости</a></li>
                <li class="navbar__item"><a href="" class="navbar__link">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
