{% load static %}
<header id="header" class="menu-wrap">
    <div class="container">
        <nav id="menu" class="menu menu--huge">
            <div class="menu__content-left">
                <div class="menu__logo">
                    <img src="{% static 'images/logo/logo.svg' %}" alt="logo">
                </div>
            </div>
            <div class="menu__content-right">
                <ul id="menuList" class="menu__list">
                    <li class="menu__item"><a id="goHome" class="menu__link" href="#">Главная</a></li>
                    <li class="menu__item"><a id="goServices" class="menu__link" href="#">Услуги</a></li>
                    <li class="menu__item"><a id="goWorks" class="menu__link" href="#">Наши проекты</a></li>
                    <li class="menu__item"><a id="goContacts" class="menu__link" href="#">Контакты</a></li>
                </ul>
                <button id="burger" class="menu__burger">
                    <span></span>
                </button>
            </div>
        </nav>
    </div>
</header>
